---
title: GitLab Technical Certifications
suppress_header: true
description: "GitLab Technical Certifications"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      GitLab Technical Certifications
    %h2.headline-subtitle
      Validate and showcase your GitLab expertise

.services-inner
  .page-container.container
    %ol.breadcrumb
      %li 
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1.tile
        %h2 GitLab Technical Certification Program
        %p We currently offer the following certification exams:
        %ul
          - data.learn.learn.select{|course| course.maintainer == "PS Education Services" && course.assessment == "Certification" && course.confidentiality == "Public" && course.live_date && Date.parse(course.live_date) <= Date.today}.each do |course|
            %li
              %a{href: "#{course.url}"}
                #{course.name}

        %h2 Pricing and Payment
        %p GitLab Technical Certification exams are priced at USD $150 per exam attempt.
        
 
= partial "includes/services-contact-form"

